@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {
  --cor-primaria: #424769;
  --cor-secundaria: #2d3250;
  --cor-terciaria: #ec9b3b;
  --cor-4: #7077a1;
  --cor-5: #f2efe7;
  --cor-6: #232d3f;
  --cor-7: #f6b17a;
  --cor-8: #ccc8aa;
  --cor-9: #99fafae5;
}
* {
  padding: 0;
  margin: 0;
}
.cabecalho {
  padding: 2% 0 0 15%;
}
.cabecalho__menu {
  display: flex;
  gap: 5rem;
}
.cabecalho__menu__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cor-8);
  text-decoration: none;
  transition: color 0.5s ease;
}
.cabecalho__menu__link:hover,
.cabecalho__menu__link a:focus-visible {
  color: var(--cor-7);
}
body {
  box-sizing: border-box;
  /* height: 100vh; */
  background-color: var(--cor-secundaria);
  color: var(--cor-5);
}

.destaque-blue {
  color: var(--cor-7);
  font-weight: bold;
}

.container {
  /* margin: 10% 15%; */
  padding: 4% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5.125rem;
}

.container__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.container__conteudo__titulo {
  font-size: 2.25rem;
  font-family: "krona one", sans-serif;
}

.container__conteudo__texto {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.container__conteudo__texto a {
  text-decoration: none;
  color: var(--cor-primaria);
}
.container__conteudo__texto a:hover,
a:focus-visible {
  text-decoration: underline;
  color: aquamarine;
}

.container__conteudo__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.conteudo_subtitulo {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Krona One", sans-serif;
}

.container__conteudo__links__link {
  display: flex;
  border: 2px solid var(--cor-8);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1.344rem 0rem;
  text-decoration: none;
  color: var(--cor-7);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  gap: 1rem;
  transition: background-color 0.15s ease, box-shadow 0.15s ease,
    inline-size 0.15s ease;
}

.container__conteudo__links__link:hover {
  background-color: #272727;
  border: 0.125rem solid var(--cor-9);
  box-shadow: 0.125rem 0.125rem 0.125rem var(--cor-9);
  inline-size: 20rem;
  color: var(--cor-9);
}

.container__img {
  inline-size: 50%;
}
footer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  background-color: var(--cor-6);
  padding: 1.5rem;
}

footer a {
  color: var(--cor-terciaria);
  text-decoration: none;
  border: 0.063rem solid transparent;
}

footer a:hover {
  color: var(--cor-9);
  cursor: pointer;
}

@media (max-width: 1023px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .container__conteudo {
    width: auto;
  }
  .container__img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }
}

@media (max-width: 1200px) {
  .cabecalho__menu {
    justify-content: center;
  }
}
